* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fefdfc;
  color: #000;
}

/* ================= NAVBAR ================= */

nav {
  position: sticky;
  top: 0;
  z-index: 900;
  background: #fff;
  padding: 40px 45px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}


.left,
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: bold;
}

.left img {
  height: 39px;
  width: 44px;
}

.left h2 {
  font-size: 23px;
}

.left span {
  font-size: 24px;
  font-weight: 700;
  color: #d4402f;
}

/* RIGHT LINKS */
.right ul{
  display: flex;
  gap: 9px;
}
.right a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  transition: .2s ease;
}

.right ul a:hover {
  background-color: rgba(37, 34, 30, 0.07);
  border-radius: 8px;
}

/* LOGIN BUTTON */
#login-btn {
  margin-left: 35px;
  padding: 9px 14px;
  background: #e34432;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  transition: .2s ease;
  &:hover {
    background-color: #d53f2f;
  }
}


/* ================= SECTIONS ================= */

section,
.second-section,
.third-section,
.fourth-section,
.fifth-section {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 80px 0;
}
 .leftsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
 }

.section-btn {
  padding: 10px 14px;
  background: #e34432;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  width: 158px;
  margin-top: 8px;
  transition: .2s ease;
  text-decoration: none;
  font-size: 22px;
  &:hover {
    background-color: #d53f2f;
  }
}

.leftsection p{
  font-size: 22px;
}
.main-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

/* IMAGES */
.section-img {
  width: 540px;
  border-radius: 18px;
}

/* TEXT COLORS */
.color {
  color: blueviolet;
}
.yello {
  color: rgb(147, 147, 7);
}
.blue {
  color: rgb(29, 29, 151);
}
.red {
  color: rgb(195, 24, 24);
}
.green {
  color: green;
}

/* ================= BUTTONS ================= */



/* ================= FORMS ================= */

form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  padding: 25px;
  margin: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.form-title {
  margin: 10px 0;
}

/* ================= FOOTER ================= */

footer {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 20px;
  background-color: #fff6f0;
  align-items: center;
}

.footer-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 230px;
  padding-bottom: 36px;
  border-bottom: 2px solid rgb(50, 50, 50);
}

.footer-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer-heading {
  color: #22251e;
  font-size: 26px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 15px;
  color: #22251e;
  transition: 0.3s ease;
  padding: 8px;
  cursor: pointer;
  &:hover {
  background-color: rgba(37, 34, 30, 0.07);
  border-radius: 5px;
  }
}



.footer-2 {
  color: #22251e;
  padding: 18px 25px 5px;
  font-size: 16px;
}

/* ================= ABOUT / LOGIN ================= */

#About {
  background-color: #fff;
  color: black;
}

.heading-about {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.content-about,
.about-us-pic {
  display: flex;
  justify-content: center;
}
