* {
  font-family: "Montserrat", sans-serif;
}

.login-form {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  border: none;
  color: black;
}

.login-title {
  padding: 10px 50px 25px 50px;
  font-size: 26px;
}

.input-group input,
.input-group button {
  width: 250px;
  margin: 8px 0px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #eeeeee;
}

.input-group button {
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  text-transform: uppercase;

  &:hover {
    font-size: 12px;
  }
}
